/*
* @package      Shortcodes
* @description  This package holds style declarations for
*               shortcodes page
*/
.icon-short-code {
  font-size: 16px;
}
.icon-short-code .box__left {
  padding-right: 10px;
  color: #cccccc;
}

.responsive-tabs [class*='fa-']:before {
  padding-right: 10px;
}

.resp-tabs-container .resp-accordion.resp-tab-active {
  display: none;
}

.shortcodes h2 + .btn-group, .shortcodes .btn-group + h2, .shortcodes .container + .container, .shortcodes h2 + .inline-list, .shortcodes h2 + .responsive-tabs, .shortcodes h4 + .rd-mailform {
  margin-top: 25px;
}
.shortcodes * + .bg-default-variant2 {
  margin-top: 30px;
}
.shortcodes .rd-mailform {
  margin-top: 0px;
}

.resp-tabs-list {
  margin-bottom: 20px;
  margin-top: -10px;
}
